body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* colores de fondo */
header, footer {
  color: white;
  background-color: #2d3142;
}
.principal {
  background-color: #d8d5db;
}
.sidebar {
  background-color: #adacb5;
}

/* Media Queries contenedor-general general*/

@media (min-width: 1300px) {
 .contenedor-general{
   width: 1200px;
 }
}

@media (min-width: 1000px) and (max-width: 1300px) {
 .contenedor-general{
   width: 940px;
 }
}

@media (min-width: 800px) and (max-width: 1000px) {
 .contenedor-general{
   width: 740px;
 }
}

@media (min-width: 500px) and (max-width: 800px) {
 .contenedor-general{
   width: 480px;
 }
}

@media (max-width: 500px) {
 .contenedor-general{
   width: 100vw;
 }
}
