* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}
/* colores de fondo */
header, footer {
  color: white;
  background-color: #2d3142;
}
.principal {
  color: #333333;
  background-color: #d8d5db;
}
.sidebar {
  color: #333333;
  background-color: #adacb5;
}

/* aires */
header, footer {
  height: 100px;
  line-height: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.principal p {
  margin-top: 20px;
  margin-bottom: 5px;
}

.principal, .sidebar {
  padding: 30px 15px;
}

/*a lineación */

footer {
  text-align: center;
}

.contenedor-general {
  margin-right: auto;
  margin-left: auto;
}

/* Media Queries contenedor-general general*/

@media (min-width: 1300px) {
 .contenedor-general{
   width: 1200px;
 }
}

@media (min-width: 1000px) and (max-width: 1300px) {
 .contenedor-general{
   width: 940px;
 }
}

@media (min-width: 800px) and (max-width: 1000px) {
 .contenedor-general{
   width: 740px;
 }
}

@media (min-width: 500px) and (max-width: 800px) {
 .contenedor-general{
   width: 480px;
 }
}

@media (max-width: 500px) {
 .contenedor-general{
   width: 100vw;
 }
}
